.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #ff5137 0%, #ff3737 29%, #e93338 67%, #e93338 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: -200% center;
  }
}

.shine {
  position: relative;
  overflow: hidden;
}
.shine::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  content: "";
  display: block;
  height: 100%;
  left: -75%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
}
.shine:hover::before,
.shine:focus::before {
  -webkit-animation: shine 0.85s;
  animation: shine 0.85s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.obs-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease;
  transition-delay: calc(var(--delay) * 100ms);
}

.obs-visible {
  opacity: 1;
  visibility: visible;
}
