@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#hero {
  background-image: url(./assets/img/hero/clinic.webp);
}

#hero2 {
  background-image: url(./assets/img/hero/clinic2.webp);
}

#hero3 {
  background-image: url(./assets/img/hero/clinic3.webp);
}

#hero4 {
  background-image: url(./assets/img/hero/clinic4.webp);
}

/* when height is less than 700 px */
@media (max-height: 700px) {
  .scroll-down-arrow-hero {
    display: none;
  }
}
